<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- 타임리프가 제공하는 속성을 사용하여 동적인 HTML을 만들 수 있다. -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>글상세</title>
</head>
<body>
<center>
<h1>게시글 상세</h1>
<font color="red" th:text=${session['user'].name}"></font>님 로그인 환영합니다.
<a href="logout.do">LOG-OUT</a>
<hr>
<form action="updateBoard.do" method="post">
<input type="hidden" name="seq" th:value="${board.seq }"/>
<table border="1" cellpadding="0" cellspacing="0">
	<tr>
		<td bgcolor="orange" width="70">제목</td>
		<td align="left"><input type="text" name="title" th:value="${board.title }"/></td>
	</tr>
	<tr>
		<td bgcolor="orange">작성자</td>
		<td align="left" th:text="${board.writer }"></td>
	</tr>
	<tr>
		<td bgcolor="orange">내용</td>
		<td align="left"><textarea name="content" cols="40" rows="10" th:text="${board.content }"></textarea></td>
	</tr>
	<tr>
		<td bgcolor="orange">등록일</td>
		<td align="left" th:text="${board.regDate }"></td>
	</tr>
	<tr>
		<td bgcolor="orange">조회수</td>
		<td align="left" th:text="${board.cnt }"></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" value=" 글 수정 " /></td>
	</tr>
</table>
</form>
<a href="insertBoardView.do">글등록</a>&nbsp;&nbsp;&nbsp;
<a th:if="${session['user'].role == 'ADMIN'}" th:href="@{/deleteboard.do(seq=${board.seq})}">글삭제</a>&nbsp;&nbsp;&nbsp;
<a href="getBoardList.do">글목록</a>
<hr>
</center>
</body>
</html>
