<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- 타임리프가 제공하는 속성을 사용하여 동적인 HTML을 만들 수 있다. -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>글목록</title>
</head>
<body>
<center>

<h1>게시글 목록(Thymeleaf)</h1>
<font color="red" th:text=${session['user'].name}"></font>님 로그인 환영합니다.
<table border="1" cellpadding="0" cellspacing="0" width="800">
	<tr>
		<th bgcolor="orange" width="100">번호</th>
		<th bgcolor="orange" width="400">제목</th>
		<th bgcolor="orange" width="100">작성자</th>
		<th bgcolor="orange" width="100">등록일</th>
		<th bgcolor="orange" width="100">조회수</th>
	</tr>

	<tr th:each="board, state : ${boardList}">
		<td th:text="${state.count}"/>
		<td><a th:href="@{/getBoard.do(seq=${board.seq})}" th:text="${board.title}"></a></td>
		<td th:text="${board.writer}"/>
		<td th:text="${#dates.format(board.regDate, 'yyyy-MM-dd')}"/>
		<td th:text="${board.cnt}"/>
	</tr>

</table>
<a href="insertBoardView.do">글 등록 화면으로 이동</a>
</center>
</body>
</html>


